{{ define "modal-seguidores" }}
<div class="modal fade" id="modal-seguidores" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2>Seguidores</h2>
            </div>
            <div class="modal-body">
                {{range .Seguidores}}
                    <a href="/web/usuario/{{.ID}}">{{.Nick}}<br></a>
                {{else}}
                    <p class="text-muted text-center">
                        Nenhum seguidor até o momento...
                    </p>
                {{end}}
            </div>
        </div>
    </div>
</div>
{{end}}